
.form-control {
  display: inline-flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.homecontainer {
  margin: 10% 25% 25%;
  width: 50%;
  border: solid 4px green;
  display: flex;
  flex-direction: column;
}
.hometittle {
  display: flex;
  justify-content: center;
}